:root {
  --azul: #3b82f6;
  --blanco: #fff;
  --gris-claro: #f5f5f5;
  --gris: #94a3b8;
  --gris-oscuro: #64748b;
  --negro: #000;
}

body {
  background-color: var(--gris-claro);
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.fix {
  overflow: hidden;
  height: 100vh;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

.shadow {
  padding: 4rem;
  background-color: var(--blanco);
  border-radius: 1.2rem;
  box-shadow: 0 9px 10px -10px rgb(0 0 0 / 51%);
}

header {
  background-color: var(--azul);
}

header h1 {
  padding: 3rem 0;
  margin: 0;
  color: var(--blanco);
  text-align: center;
  text-transform: uppercase;
}

.form {
  width: 95%;
  padding: 10rem 0;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .formulario {
    width: 60rem;
    padding: 5rem 0;
  }
}

.form legend {
  display: block;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--azul);
  margin-bottom: 4rem;
  color: var(--blanco);
  font-size: 3.6rem;
  text-align: center;
  text-transform: uppercase;
}

.form .field {
  display: grid;
  margin-bottom: 2rem;
}

.form label {
  margin-bottom: 2rem;
  color: var(--azul);
  font-size: 2.8rem;
  text-align: center;
}

.form input[type='text'],
.form input[type='number'] {
  flex: 1;
  padding: 1rem;
  border: none;
  background-color: var(--gris-claro);
  border-radius: 1rem;
  font-size: 1.6rem;
}

.form input[type='submit'] {
  width: 100%;
  padding: 1rem;
  border: none;
  margin-top: 2rem;
  background-color: #1048a4;
  color: var(--blanco);
  font-size: 1.9rem;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 300ms ease;
}
@media (min-width: 768px) {
  .form input[type='submit'] {
    display: block;
    padding: 1rem 5rem;
  }
}

.form input[type='submit']:hover {
  background-color: #042a67;
  cursor: pointer;
}

.form select {
  flex: 1;
  padding: 1rem;
  border: none;
  background-color: var(--gris-claro);
  border-radius: 1rem;
  text-align: center;
}

.alert {
  max-width: 60rem;
  padding: 2rem 5rem;
  margin: 2rem auto;
  font-size: 1.8rem;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

.alert.error {
  border-left: 5px solid #b91c1c;
  background-color: var(--blanco);
  color: #b91c1c;
}

.alert.success {
}

.container {
  width: 90%;
  max-width: 80rem;
  margin: 0 auto;
}

.container-budget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -5rem;
  transform: translateY(5rem);
}

.two-columns {
  flex-direction: column;
}

.two-columns :first-child {
  margin-bottom: 4rem;
}
@media (min-width: 768px) {
  .two-columns {
    flex-direction: row;
    align-items: center;
    gap: 4rem;
  }

  .two-columns > div {
    width: 50%;
  }

  .two-columns :first-child {
    margin-bottom: 0;
  }
}

.form input[type='text'].new-budget,
.form input[type='number'].new-budget {
  font-size: 2.8rem;
  text-align: center;
}

.container-budget svg {
  width: 25rem;
}

.content-budget {
  width: 100%;
}

.content-budget p {
  color: var(--gris-oscuro);
  font-size: 2.4rem;
  font-weight: 400;
  text-align: center;
}
@media (min-width: 768px) {
  .content-budget p {
    text-align: left;
  }
}

.content-budget span {
  color: var(--azul);
  font-weight: 900;
}

.content-budget p.negative,
.content-budget p.negative span {
  color: red;
}

.reset-app {
  width: 100%;
  padding: 1rem;
  border: none;
  background-color: #db2777;
  border-radius: 1rem;
  color: var(--blanco);
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  transition-duration: 300ms;
  transition-property: background-color;
}

.reset-app:hover {
  background-color: #c71465;
  cursor: pointer;
}

main {
  padding-top: 10rem;
}

.filters .field {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.filters label {
  color: var(--gris-oscuro);
  font-size: 3rem;
  font-weight: 900;
}

.filters select {
  flex: 1;
  padding: 1rem;
  border: none;
  background-color: var(--gris-claro);
  border-radius: 1rem;
  text-align: center;
}

.expenses-list {
  margin-top: 5rem;
}

.expenses-list h2 {
  color: var(--gris-oscuro);
  font-weight: 900;
}

.no-expenses {
  font-size: 2.2rem;
  text-align: center;
}

.expense {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  gap: 2rem;
}

.expenses-amount {
  color: var(--negro);
  font-size: 2.4rem;
  font-weight: 900;
}

.content-expense {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.content-expense img {
  width: 10rem;
}

.expense-description p {
  margin: 0 0 0.3rem;
}

.expense-description .categoria {
  color: var(--gris);
  font-size: 1.6rem;
  font-weight: 900;
  text-transform: uppercase;
}

.expense-description p {
  margin-bottom: 1rem;
}

.expense-description .expense-name {
  color: var(--gris-oscuro);
  font-size: 2.4rem;
  font-weight: 700;
}

.expense-description .expense-name:hover {
  cursor: pointer;
}

.expense-description .expense-date {
  color: var(--gris-oscuro);
  font-size: 1.8rem;
  font-weight: 900;
}

.expense-description .expense-date span {
  font-weight: 400;
}

.new-expense {
  position: fixed;
  right: 5rem;
  bottom: 5rem;
}

.new-expense img {
  width: 5rem;
}

.new-expense img:hover {
  cursor: pointer;
}

.modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(0 0 0 / 92%);
}

.modal .close-modal {
  position: absolute;
  top: 3rem;
  right: 3rem;
  width: 3rem;
  height: 3rem;
}

.modal .rename-modal img {
  width: 100%;
}

.modal .form {
  width: 40rem;
  max-width: 80rem;
  opacity: 0;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: ease-in;
}

.modal label {
  color: var(--blanco);
  text-align: left;
}

body .modal {
  overflow: hidden;
}

.modal .form.animate {
  position: relative;
  opacity: 1;
}

.modal .form.close {
  opacity: 0;
}

.CircularProgressbar .CircularProgressbar-text {
  font-size: 1rem !important;
}

/*** SWIPE LIST OVERRIDES **/
.swipe-action__leading {
  margin-bottom: 2rem;
  background-color: var(--azul);
  color: var(--blanco);
}

.swipe-action__trailing {
  margin-bottom: 2rem;
  background-color: #db2777;
  color: var(--blanco);
}

.swipeable-list .swipe-action {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  text-align: right;
}
